.about{
  position: relative;
  background: linear-gradient(to right, #333232, #252424);
  &.section{
    color: #ffffff;
    padding: 0;
  }
  &__img{
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  .container{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__title{
    color: #ffffff;
    margin-bottom: 15px;
    text-align: left;
  }
  &__info{
    width: 50%;
    padding: 90px 0;
    padding-left: 60px;
  }
  &__text{
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    &__info{
      padding-left: 30px;
    }
  }
  @media (max-width: 767px) {
    .container{
      background: #0000008a;
      justify-content: start;
    }
    &__info{
      width: 100%;
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 30px;
    }
    &__text{
      font-size: 16px;
    }
    &__img{
      width: 100%;
    }
  }
}